Django
PyMySQL
django-extensions
django-ratelimit
django-gravatar2
django-bootstrap4
django-bootstrap-datepicker-plus
reportlab
sendgrid
requests
sentry-sdk
django-csp
xhtml2pdf
django-import-export
ptvsd
gunicorn
ratelimit
google-cloud-secret-manager