<h2>5. Implementation Strategy (HOW)</h2>{% if disabled %}{% else %}
    <p>Implementation strategies are the training and technical assistance services that you provide as part of the
        project. The following list includes specific implementation strategies in 9 categories. Determine which
        implementation strategies were used in your project, and then fill in the table below. For each strategy,
        describe the strategy briefly (including if it was tailored for specific/cultural groups), and provide
        information about the format, # of units, and frequency</p>
    <ul class="list-group">
        <li class="list-group-item"><strong>Use evaluative and iterative strategies</strong><br>
            Assess for readiness<br>
            Identify barriers and facilitators<br>
            Audit and provide feedback<br>
            Implement quality monitoring tools/programs<br>
            Develop a formal implementation blueprint/plan<br>
            Conduct local needs assessment<br>
            Conduct cyclical small tests of change<br>

        </li>
        <li class="list-group-item"><strong>Provide interactive assistance</strong><br>
            Provide facilitation (interactive problem-solving and support for implementation of an intervention)<br>
            Technical assistance (negotiated series of activities designed to reach a valued outcome;)<br>
            Coaching (person with specific training in coaching guides and provides feedback)<br>
            Provide consultation (on clinician practice by external consultant)<br>
            Mentoring (matching experienced person with less experienced person)<br>

        </li>
        <li class="list-group-item"><strong>Adapt and tailor to context</strong><br>
            Tailor strategies based on barriers or facilitators,
            stage of readiness,
            characteristics of the
            intervention,
            or baseline performance
            Use data experts
        </li>
        <li class="list-group-item"><strong>Develop stakeholder relationships</strong><br>
            Identify and prepare champions<br>
            Inform local opinion leaders<br>
            Build a coalition<br>
            Recruit, designate, and train for leadership<br>
            Obtain formal commitments<br>
            Involve executive boards<br>
            Involve patients/consumers and family members<br>
            Visit other sites<br>
        </li>
        <li class="list-group-item"><strong>Train and educate stakeholders</strong><br>
            Develop educational materials (e.g., guidelines, manuals, toolkits) <br>
            Distribute educational materials (e.g., in person, electronically, mail) <br>
            Conduct educational meetings (with stakeholders to learn about the intervention)<br>
            Conduct ongoing training<br>
            Use train-the-trainer strategies<br>
            Create a learning collaborative<br>
            Conduct a practice improvement collaborative<br>
        </li>
        <li class="list-group-item"><strong>Support deliverers of the intervention/program/service</strong><br>
            Reminders<br>
            Resource sharing agreements<br>
            Role revision<br>
        </li>
        <li class="list-group-item"><strong>Engage consumers</strong><br>
            Involve consumers and family members<br>
            Use mass media or public service announcements<br>
        </li>
        <li class="list-group-item"><strong>Use financial strategies</strong><br>
            Access new funding [time-limited grant or 3rd party insurance]<br>
            Provide incentives/allowance<br>
            Develop disincentives<br>
        </li>
        <li class="list-group-item"><strong>Change infrastructure</strong><br>
            Policy mandates <br>
            Alter physical environment<br>

        </li>
    </ul>
    <small>Adapted from Waltz, T. J., Powell, B. J., Matthieu, M. M., Damschroder, L. J., Chinman, M. J., Smith, J. L.,
        Proctor, E. K., & Kirchner, J. E. (2015). Use of concept mapping to characterize relationships among
        implementation strategies and assess their feasibility and importance: results from the Expert Recommendations
        for Implementing Change (ERIC) study. Implementation Science, 10, 109. <a
                href="https://doi.org/10.1186/s13012-015-0295-0" target="_blank">https://doi.org/10.1186/s13012-015-0295-0</a></small>
    <h4>For each strategy:</h4>
    <ul>
        <li>Choose strategy from dropdown (if it really does not fit any of the strategies listed, choose Other)</li>
        <li>Describe the strategy briefly (including if it was tailored for specific/cultural groups)</li>
        <li>Enter information about:
            <ul>
                <li>Format – choose from dropdown: email/mail, in person, phone, virtual/video, website</li>
                <li># of units – how many times was strategy offered (number)</li>
                <li>Frequency – how often was strategy offered</li>
            </ul>
        </li>
        <li>Add or delete rows if needed:</li>
    </ul>
{% endif %}
<div class="table-responsive" id="table">
    <div>
        {% if disabled %}{% else %}
            <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fa fa-plus"
                                                                                               aria-hidden="true"></i></a></span>{% endif %}
        <table class="table table-responsive align-items-center strategy-table">
            <thead class="thead-light">
            <tr>
                <th style="width: 20%" scope="col" class="sort" data-sort="type">Specific Strategy</th>
                <th style="width: 10%" scope="col" class="sort" data-sort="format">Format</th>
                <th style="width: 20%" scope="col" class="sort" data-sort="units">Planned Number of Units</th>
                <th style="width: 10%" scope="col" class="sort" data-sort="frequency">Frequency</th>
                <th style="width: 20%" scope="col" class="sort" data-sort="brief-description">Brief Description</th>
                {% if disabled %}{% else %}
                    <th style="width: 10%" scope="col"></th>{% endif %}
            </tr>
            </thead>
            <tbody class="list">
            <tr class="hide">
                <td {% if disabled %}{% else %}contenteditable="false"{% endif %} class="strategy_type">
                    <select class="form-control" id="id_strategy_type"
                            {% if disabled %}disabled{% endif %}>
                        <option value="">Select Strategy</option>
                        {% for type in strategies_types %}
                            <option value="{{ type.pk }}"
                                    {% if strategy.strategy_type_id == type.pk %}selected{% endif %}>{{ type.strategy }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_format">
{#                    <select class="form-control" id="id_strategy_format"#}
{#                            {% if disabled %}disabled{% endif %}>#}
{#                        <option value="">Select Format</option>#}
{#                        <option value="1" {% if strategy.strategy_format == 1 %}selected{% endif %}>Email/mail</option>#}
{#                        <option value="2" {% if strategy.strategy_format == 2 %}selected{% endif %}>In person</option>#}
{#                        <option value="3" {% if strategy.strategy_format == 3 %}selected{% endif %}>Phone</option>#}
{#                        <option value="4" {% if strategy.strategy_format == 4 %}selected{% endif %}>Virtual/video</option>#}
{#                        <option value="5" {% if strategy.strategy_format == 5 %}selected{% endif %}>Website</option>#}
{#                    </select>#}
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_units" type="number" step="1"></td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_frequency"></td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_brief_description"></td>
                {% if disabled %}{% else %}
                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                    </td>{% endif %}
            </tr>
            {% if strategies %}{% for strategy in strategies %}
                <tr>
                    <td {% if disabled %}{% else %}contenteditable="false"{% endif %}
                        class="strategy_type">
                        <select class="form-control" id="id_strategy_type"
                                {% if disabled %}disabled{% endif %}>
                            <option value="">Select Strategy</option>
                            {% for type in strategies_types %}
                                <option value="{{ type.pk }}"
                                        {% if strategy.strategy_type_id == type.pk %}selected{% endif %}>{{ type.strategy }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %}
                        class="strategy_format">
{#                        <select class="form-control" id="id_strategy_format"#}
{#                                {% if disabled %}disabled{% endif %}>#}
{#                            <option value="">Select Format</option>#}
{#                            <option value="1" {% if strategy.strategy_format == '1' %}selected{% endif %}>Email/mail#}
{#                            </option>#}
{#                            <option value="2" {% if strategy.strategy_format == '2' %}selected{% endif %}>In person#}
{#                            </option>#}
{#                            <option value="3" {% if strategy.strategy_format == '3' %}selected{% endif %}>Phone</option>#}
{#                            <option value="4" {% if strategy.strategy_format == '4' %}selected{% endif %}>Virtual/video#}
{#                            </option>#}
{#                            <option value="5" {% if strategy.strategy_format == '5' %}selected{% endif %}>Website</option>#}
{#                        </select>#}
                    {{ strategy.strategy_format }}</td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_units"
                        type="number"
                        step="1">{{ strategy.planned_number_units }}</td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %}
                        class="strategy_frequency">{{ strategy.frequency }}</td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %}
                        class="strategy_brief_description">{{ strategy.brief_description }}</td>
                    {% if disabled %}{% else %}
                        <td>
                            <span class="table-remove"><button type="button"
                                                               class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                        </td>{% endif %}
                </tr>{% endfor %}{% else %}
                <tr>
                    <td {% if disabled %}{% else %}contenteditable="false"{% endif %} class="strategy_type">
                        <select class="form-control" id="strategy_type"
                                {% if disabled %}disabled{% endif %}>
                            <option value="">Select Strategy</option>
                            {% for type in strategies_types %}
                                <option value="{{ type.pk }}">{{ type.strategy }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_format">
{#                        <select class="form-control" id="id_strategy_format"#}
{#                                {% if disabled %}disabled{% endif %}>#}
{#                            <option value="">Select Format</option>#}
{#                            <option value="1">Email/mail#}
{#                            </option>#}
{#                            <option value="2">In person#}
{#                            </option>#}
{#                            <option value="3">Phone</option>#}
{#                            <option value="4">Virtual/video#}
{#                            </option>#}
{#                            <option value="5">Website</option>#}
{#                        </select>#}</td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_units" type="number" step="1"></td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_frequency"></td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_brief_description"></td>
                    {% if disabled %}{% else %}
                        <td>
                            <span class="table-remove"><button type="button"
                                                               class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                        </td>{% endif %}
                </tr>{% endif %}
        </table>
    </div>
</div>
<div class="form-group">
    <label for="id_implement_strategy_description">Describe the sequence of the planned Implementation Strategies, step
        by step. {% if project.stage > 1 %}Edit from previous if the plan changed{% endif %}:</label>
    <textarea name="implement_strategy_description" cols="40" rows="5" class="form-control"
              id="id_implement_strategy_description"
              {% if disabled %}disabled{% endif %}>{{ form.implement_strategy_description.value|default_if_none:"" }}</textarea>

</div>
