<h2>1. Evidence-Based Intervention/Program/Service Being Implemented (WHAT)</h2>
<div class="form-group">
    <textarea name="name" cols="40" rows="5" class="form-control" id="id_name"
              {% if disabled %}disabled{% endif %}>{{ form.name.value|default_if_none:"" }}</textarea> <span
        class="helptext">Describe your evidence-Based Intervention/Program/Service Being Implemented (WHAT)</span>
</div>
<div class="form-group">
    <label for="id_start_date">Project start date:</label>
    <input type="text" {{ form.start_date  }} name="start_date" class="form-control" id="id_start_date" {% if disabled %}disabled{% endif %}>
</div>
<div class="form-group">
    <label for="id_end_date">Project end date:</label>
    <input type="text" name="end_date" {{ form.end_date  }} class="form-control" id="id_end_date" {% if disabled %}disabled{% endif %}>
</div>
  <script>
  $( function() {
    $( "#id_start_date" ).datepicker();
    $( "#id_end_date" ).datepicker();
  } );
  </script>