<h2>5. Implementation Strategy (HOW)</h2>{% if disabled %}{% else %}
    <span class="help-test">The training and TA services you provide. For each strategy, choose the strategy from the list,* then describe the strategy briefly, and provide the format, # of units, and frequency details. Note if strategy was tailored for specific/cultural groups. Add or delete rows if needed):</span>
    <p>Implementation strategies are the training and technical assistance services that you provide as part of the
        project. Determine which of the following categories best describe(s) the implementation strategies used in your
        project. Then fill in the table below.</p>
    <ul class="list-group">
        <li class="list-group-item"><strong>Use evaluative and iterative strategies</strong><br>
            Assess for readiness<br>
            Identify barriers and facilitators <br>
            Audit and feedback<br>
        </li>
        <li class="list-group-item"><strong>Provide interactive assistance</strong><br>
            Facilitation <br>
            Technical assistance <br>
            Coaching <br>
            Clinical supervision <br>
            Mentoring<br>
        </li>
        <li class="list-group-item"><strong>Adapt and tailor content</strong><br> Tailor content based on barriers or
            facilitators, stage of readiness, characteristics of the intervention, or baseline performance
        </li>
        <li class="list-group-item"><strong>Develop stakeholder relationships</strong><br>
            Identify and prepare champions <br>
            Inform local opinion leaders <br>
            Build coalitions<br>

        </li>
        <li class="list-group-item"><strong>Train and educate stakeholders</strong><br>
            Conduct ongoing training <br>
            Develop educational materials <br>
            Learning collaborative <br>
            Practice improvement collaborative<br>

        </li>
        <li class="list-group-item"><strong>Support deliverers of the intervention/program/service</strong><br>
            Reminders <br>
            Resource sharing agreements <br>
            Role revision<br>

        </li>
        <li class="list-group-item"><strong>Engage consumers</strong><br>
            Involve consumers and family members <br>
            Use mass media or public service announcements<br>

        </li>
        <li class="list-group-item"><strong>Use financial strategies</strong><br>
            Access new funding [time-limited grant or 3rd party insurance] <br>
            Provide incentives/allowance <br>
            Develop disincentives<br>

        </li>
        <li class="list-group-item"><strong>Change infrastructure</strong><br>
            Policy mandates <br>
            Alter physical environment<br>

        </li>
    </ul>
    <p>(Use strategies from above; add or delete rows if needed):</p>{% endif %}
<div class="table-responsive" id="table">
    <div>
        {% if disabled %}{% else %}
            <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fa fa-plus"
                                                                                               aria-hidden="true"></i></a></span>{% endif %}
        <table class="table align-items-center">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="type">Category</th>
                <th scope="col" class="sort" data-sort="format">Format</th>
                <th scope="col" class="sort" data-sort="units">Planned Number of Units</th>
                <th scope="col" class="sort" data-sort="frequency">Frequency</th>
                {% if disabled %}{% else %}
                    <th scope="col"></th>{% endif %}
            </tr>
            </thead>
            <tbody class="list">
            <tr class="hide">
                <td {% if disabled %}{% else %}contenteditable="false"{% endif %} class="strategy_type">
                    <select class="form-control" id="id_strategy_type"
                            {% if disabled %}disabled{% endif %}>
                        <option>Select Strategy</option>
                        {% for type in strategies_types %}
                            <option value="{{ type.pk }}"
                                    {% if strategy.strategy_type_id == type.pk %}selected{% endif %}>{{ type.strategy }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_format">
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_units" type="number" step="1">
                </td>
                <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_frequency">
                </td>
                {% if disabled %}{% else %}
                    <td>
                        <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                    </td>{% endif %}
            </tr>
            {% if strategies %}{% for strategy in strategies %}
                <tr>
                    <td {% if disabled %}{% else %}contenteditable="false"{% endif %}
                        class="strategy_type">
                        <select class="form-control" id="id_strategy_type"
                                {% if disabled %}disabled{% endif %}>
                            <option>Select Strategy</option>
                            {% for type in strategies_types %}
                                <option value="{{ type.pk }}"
                                        {% if strategy.strategy_type_id == type.pk %}selected{% endif %}>{{ type.strategy }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %}
                        class="strategy_format">{{ strategy.strategy_format }}
                    </td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_units" type="number"
                        step="1">{{ strategy.planned_number_units }}
                    </td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %}
                        class="strategy_frequency">{{ strategy.frequency }}
                    </td>
                    {% if disabled %}{% else %}
                        <td>
                            <span class="table-remove"><button type="button"
                                                               class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                        </td>{% endif %}
                </tr>{% endfor %}{% else %}
                <tr>
                    <td {% if disabled %}{% else %}contenteditable="false"{% endif %} class="strategy_type">
                        <select class="form-control" id="strategy_type"
                                {% if disabled %}disabled{% endif %}>
                            <option>Select Strategy</option>
                            {% for type in strategies_types %}
                                <option value="{{ type.pk }}">{{ type.strategy }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_format">
                    </td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_units" type="number"
                        step="1">
                    </td>
                    <td {% if disabled %}{% else %}contenteditable="true"{% endif %} class="strategy_frequency">
                    </td>
                    {% if disabled %}{% else %}
                        <td>
                            <span class="table-remove"><button type="button"
                                                               class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                        </td>{% endif %}
                </tr>{% endif %}
        </table>
    </div>
</div>
<div class="form-group">
    <label for="id_implement_strategy_description">Describe the sequence of the planned Implementation Strategies, step
        by step {% if project.stage > 1 %}edit from previous if the plan changed{% endif %}:</label>
    <textarea name="implement_strategy_description" cols="40" rows="5" class="form-control"
              id="id_implement_strategy_description"
              {% if disabled %}disabled{% endif %}>{{ form.implement_strategy_description.value|default_if_none:"" }}</textarea>
    <span class="helptext">Free Text Description (Provide a Description of the Planned Implementation Steps)</span>
</div>
