<style>
    .form-control:disabled, .form-control[readonly] {
        opacity: 1;
        background-color: #f7f7f7;
    }

    td, th {
        white-space: normal !important;
        word-wrap: break-word;
    }

    table {
        table-layout: fixed;
    }
</style>
<br>
{% include "projects/sections/section_1.html" %}
<hr>
<br>
{% include "projects/sections/section_2.html" %}
<hr>
<br>
{% include "projects/sections/section_3.html" %}
<hr>
<br>
{% include "projects/sections/section_4.html" %}
<hr>
<br>
{% include "projects/sections/section_5.html" %}
<hr>

<br>
{% include "projects/sections/section_6.html" %}
<hr>
<br>
{% include "projects/sections/section_7.html" %}
<hr>


