{% extends "base/page.html" %}
{% load static %}
{% block content %}
    <img src="{% static 'img/mhttc-top.jpg' %}" class="img-fluid img-center" />
    <div class="ml-5">
        <h1 class="text-center mt-6">IMPLEMENTATION PROJECT TEMPLATE</h1>
    <h4 class="text-center">Revision 4/21/21</h4>
    <h4>Introduction/Background</h4>
    <p>This Implementation Project Template was developed, piloted, and refined over the course of a year by the Mental
        Health Technology Transfer Center (MHTTC) Dissemination & Implementation Working Group, with feedback from the
        ATTC and PTTC Networks. </p>
    <p>The template is a tool to assist in planning and tracking the progress of technical assistance projects that have
        the goal of implementing an intervention/program/practice (versus those that are focused on awareness raising or
        training only). It is likely most useful for intensive technical assistance projects, defined by the TTCs as
        projects that “Support full incorporation of a new innovation or practice into real world settings that require
        changes in policies, practices, and system functioning, which are ultimately guided/driven by a collaboratively
        developed implementation plan that reflects mutually agreed upon goals, roles and responsibilities among TA
        provider and TA recipient” (see the ATTC Training and Technical Assistance (TTA) Framework). Intensive TA
        projects usually have a “Combination of TA activities involving regular assessment of skill development and
        progress based on active participation by the TA recipient as well as direct observations by the TA provider,
        supplemented with long-distance planning and work sessions.”</p>
    <h4>The template is based on three key frameworks from implementation science research:</h4>
    <ul>
        <li>Implementation Stages: Implementation of a new practice or an intensive TA project follows different
            stages or phases. One model of implementation stages or phases is the Exploration, Planning, Implementation,
            and Sustainment (EPIS) Framework (Aarons et al., 2012). Exploration – awareness of a
            patient/consumer/community need or a change in practice. Preparation – tasks needed to get ready to
            implement the new practice, such as staff training, building a community coalition, and changing protocols
            and policies. Implementation– beginning to provide or use the new practice. Sustainment – maintenance of the
            practice over time. This template has three iterative forms for Exploration/Preparation, Implementation, and
            Sustainment. Each TTC completing the form can define the move from one stage to another.
        </li>
        <li>
            Implementation strategies are TA activities or “methods to enhance the adoption, implementation sustainment,
            and scale-up of an innovation” (Kirchner et al., 2018, p. 245). This template uses the nine categories of
            implementation strategies formulated by Waltz, Powell, and colleagues (e.g., Powell et al., 2012; Waltz et
            al., 2015) as a way to organize the description of TA activities used in a project.
        </li>
        <li>
            The RE-AIM Framework (reach, effectiveness, adoption, implementation, maintenance; e.g., Glasgow et al.,
            1999) is a model for evaluating intervention/program/practice outcomes, as well as the effect of the
            implementation strategies (implementation outcomes). This template uses the RE-AIM Framework to organize
            reporting on planned and completed evaluation components. We recognize that TTC funding and scope does not
            necessarily allow for evaluation of intervention/program/practice outcomes; however, the framework keeps our
            focus on the full range of evaluation targets and TTCs may be able to have the TA recipient organizations or
            providers track and report this information as part of the project.
        </li>

    </ul>
    <h4>How the template can be used:</h4>
    <ul>
        <li>The template will be automated, such that TTC staff will be able to enter their projects and view all
            projects, through a secure portal.
        </li>
        <li>Similar to other TTC-wide data, such as the website, data can be summarized across projects and reflected
            back to the Network(s) (e.g., what implementation strategies are used most frequently, what outcomes are
            being measured and how). Requests for aggregated data will follow the same process as that used for other
            TTC data.
        </li>
        <li>Use of the template is voluntary, and is only applicable to some of the work completed by a TTC.</li>
    </ul>

    <h4>Benefits of wide adoption of the template across the TTCs:</h4>
    <ul>
        <li>As a learning health system, we want to be able to collect information/data, beyond GPRA, on the training
            and TA activities we provide.
        </li>
        <li>Summary information from forms completed across the TTCs will inform us about how intensive TA projects are
            being conducted, and shed light on how we might better use implementation science findings to guide our
            work.
        </li>
        <li>The intention is not to compare Centers to each other. We want to learn how we are all developing TA
            services and how we can improve.
        </li>
    </ul>
    <h4>References:</h4>
    <ul>
        <li>Aarons, G. A., Hurlburt, M., & Horwitz, S. M. (2011). Advancing a conceptual model of evidence-based
            practice implementation in public service sectors. Administration and Policy in Mental Health, 38(1), 4–23.
            <a target="_blank" href="https://doi.org/10.1007/s10488-010-0327-7">https://doi.org/10.1007/s10488-010-0327-7</a>
        </li>
        <li>Gaglio, B., & Glasgow, R. E. (2018). Evaluation approaches for dissemination and implementation research. In
            R. C. Brownson, G. A. Colditz, & E. K. Proctor (Eds.) Dissemination and implementation research in health:
            Translating science to practice (2nd ed.). New York: Oxford University Press.
        </li>
        <li>Glasgow, R. E., Harden, S. M., Gaglio, B., Rabin, B., Smith, M. L., Porter, G. C., Ory, M. G., & Estabrooks,
            P. A. (2019). RE-AIM planning and evaluation framework: Adapting to new science and practice with a 20-Year
            Review. Frontiers in Public Health, 7, 64. <a target="_blank"
                                                          href="https://doi.org/10.3389/fpubh.2019.00064">https://doi.org/10.3389/fpubh.2019.00064</a>
        </li>
        <li>Glasgow, R. E., Vogt, T. M., & Boles, S. M. (1999). Evaluating the public health impact of health promotion
            interventions: the RE-AIM framework. American Journal of Public Health, 89(9), 1322–1327.
            <a target="_blank" href="https://doi.org/10.2105/ajph.89.9.1322">https://doi.org/10.2105/ajph.89.9.1322</a>
        </li>
        <li>Kirchner, J. E., Waltz, T. J., Powell, B. J., Smith, J. L., & Proctor, E. (2018). Implementation strategies.
            In R. C. Brownson, G. A. Colditz, & E. K. Proctor (Eds.) Dissemination and implementation research in
            health: Translating science to practice (2nd ed.). New York: Oxford University Press.
        </li>
        <li>Powell, B. J., McMillen, J. C., Proctor, E. K., Carpenter, C. R., Griffey, R. T., Bunger, A. C., et al.
            (2012). A compilation of strategies for implementing clinical innovations in health and mental health.
            Medical Care Research and Review, 69, 123–57. <a target="_blank"
                                                             href="https://doi.org/10.1177/1077558711430690">https://doi.org/10.1177/1077558711430690</a>.
        </li>
        <li>Waltz, T. J., Powell, B. J., Matthieu, M. M., Damschroder, L. J., Chinman, M. J., Smith, J. L., Proctor, E.
            K., & Kirchner, J. E. (2015). Use of concept mapping to characterize relationships among implementation
            strategies and assess their feasibility and importance: results from the Expert Recommendations for
            Implementing Change (ERIC) study. Implementation Science, 10, 109. <a target="_blank"
                                                                                  href="https://doi.org/10.1186/s13012-015-0295-0">https://doi.org/10.1186/s13012-015-0295-0</a>
        </li>

    </ul>
    <h4>Instructions </h4>
    <p>There are three versions of the template. A version for exploration/planning, a version for implementation, and a
        version for sustainment. Each builds on the information entered previously. Each form will pre-load into the
        next form (with ability to modify). </p>
    <p>If a project is already completed, start with the exploration/planning form, and then when the next form is moved to, only enter the new data elements.</p>
    <p>The following shows each form. The new data elements in each successive form are highlighted yellow.</p>
    </div>
    <h2>New Project</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
