{% extends "base/page.html" %}
{% load static %}
{% block content %}
    <img src="{% static 'img/mhttc-top.jpg' %}" class="img-fluid img-center"/>
    <div class="ml-5">
        <h1 class="text-center mt-6">IMPLEMENTATION PROJECT TEMPLATE</h1>
        <h4 class="text-center">Revision 6/22/21</h4>
        <h4>Introduction/Background</h4>
        <p>This Implementation Project Template was developed, piloted, and refined by the Mental Health Technology
            Transfer Center (MHTTC) Dissemination & Implementation (D&I) Working Group, with feedback from the ATTC and
            PTTC Networks.
        </p>
        <p>The template is a tool to assist in planning and tracking the progress of technical assistance projects that
            have the goal of implementing an intervention/program/practice (versus those focused on awareness raising or
            training only). It is likely most useful for intensive technical assistance projects, defined by the TTCs as
            projects that “Support full incorporation of a new innovation or practice into real world settings that
            require changes in policies, practices, and system functioning” (see the ATTC Training and Technical
            Assistance (TTA) Framework). Intensive TA projects usually have a “Combination of TA activities involving
            regular assessment of skill development and progress based on active participation by the TA recipient as
            well as direct observations by the TA provider, supplemented with long-distance planning and work sessions.”
        </p>
        <h4>Instructions</h4>
        <p>Please download the following document for detailed instructions, including why you should use this template
            and how it can help you: <a target="_blank"
                                        href="https://stanfordmedicine.box.com/s/og643l3hln7e3axxilkws41ddwo4t5ib">https://stanfordmedicine.box.com/s/og643l3hln7e3axxilkws41ddwo4t5ib</a>
        </p>
        <p>
            There are three versions of the template. A version for exploration/planning, a version for implementation,
            and a version for sustainment. Each builds on the information entered previously. When one moves to then
            next form, information from the previous form will pre-fill, with ability to modify.
        </p>
        <p>If a project is already completed, start with the exploration/planning form, and then when you move to the
            next form, only enter the new data elements.
        </p>
        <p>Questions? Please contact Heather Gotham, <a href="mailto:gothamh@stanford.edu">gothamh@stanford.edu</a>,
            MHTTC NCO Director</p>

    </div>
    <h2>New Project</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <script>
        jQuery(document).ready(function () {
            $("#id_contact").select2()
        });
    </script>
{% endblock %}
