{% load custom_tags %}

<table class="table table-bordered" id="projects_table" cellspacing="0">
    <thead>
    <tr>
        <th>Name</th>
{#        <th>Description</th>#}
        {% if center_column == True %}
        <th>Center</th>
        {% endif %}
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>{% for project in projects %}
        <tr>
            {% if hide_edit == True %}
            <td>{{ project.name }}</td>
            {% else %}
                <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
            {% endif %}

{#            <td style="white-space: break-spaces">{{ project.description | truncatechars:100 }}</td>#}
            {% if center_column == True %}
            <td>{{ project.center.name }}</td>
            {% endif %}
            <td>{{ project.get_status_display }}</td>
            <td>
                {% if project|can_edit:request %}
                    <a href="{{ project.get_absolute_url }}">
                        <button type="button" class="btn btn-primary btn-sm">Edit</button>
                    </a>
                {% endif %}
                <a target="_blank" href="{% url 'view_project_form' project.uuid %}">
                    <button type="button" class="btn btn-primary btn-sm" >View
                    </button>
                </a>
                {% if project|can_edit:request %}
                    <a id="delete_link" href="{% url 'delete_project' project.uuid %}"
                       onclick="return confirm('Are you sure you want to delete this Project? This action cannot be undone.');">
                        <button id="delete_event" type="button" class="btn btn-danger btn-sm">Delete</button>
                    </a>
                {% endif %}
                {% if project.status == 0 and project|can_edit:request %}
                    <a href="{% url 'publish_project' project.uuid %}">
                        <button type="button" class="btn btn-primary btn-sm">Publish
                        </button>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% block scripts %}
    <script>
        jQuery(document).ready(function () {
            jQuery('#projects_table').DataTable({
                "language": {
                    "paginate": {
                        "previous": '<<',
                        "next": '>>'
                    }
                }
            });
        });
    </script>
{% endblock %}
